In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# Visualización de datos

In [3]:
# Cargar el archivo train.csv desde la misma carpeta
E1 = pd.read_csv('01transport_data_madrid.csv', sep=None, engine='python')
E2 = pd.read_csv('02transporte_madrid_dataset.csv', sep=None, engine='python')

# contatenamos los dataset 

result = pd.concat([E1, E2], axis=0)

# Mostrar Datos concatenados

print(result.head())

# Nuevo  dataset
result.to_csv('dataset_concatenados.csv', index=False)

    id     destination    route alternate_route departure_time arrival_time  \
0  1.0  Puerta del Sol  Linea 3         Linea 9          19:49        20:00
1  2.0  Plaza Castilla  Linea 9         Linea 7          02:23        02:36
2  3.0  Puerta del Sol  Linea 4         Linea 2          18:58        19:31
3  4.0          Retiro  Linea 1         Linea 8          13:40        14:00
4  5.0          Retiro  Linea 2         Linea 5          05:58        06:19

  current_time           traffic_streets  distance_to_next_stop  \
0        19:58           Paseo del Prado                   2.12
1        02:50              Calle Atocha                   2.44
2        19:11    Calle de Bravo Murillo                   0.60
3        13:43  Calle de Guzmán el Bueno                   4.56
4        06:13              Calle Alcalá                   3.57

   time_estimate  ... incident_type incident_description deviation  fecha  \
0           55.0  ...     accidente        Tráfico denso        sí    NaN
1           21.0  ...        avería    Retraso por obras        sí    NaN
2           29.0  ...           NaN                  NaN        no    NaN
3           29.0  ...           NaN                  NaN        sí    NaN
4           48.0  ...           NaN                  NaN        no    NaN

  medio_transporte linea  pasajeros  tiempo_espera_min puntualidad incidencias
0              NaN   NaN        NaN                NaN         NaN         NaN
1              NaN   NaN        NaN                NaN         NaN         NaN
2              NaN   NaN        NaN                NaN         NaN         NaN
3              NaN   NaN        NaN                NaN         NaN         NaN
4              NaN   NaN        NaN                NaN         NaN         NaN

[5 rows x 29 columns]

In [6]:
# Cargar nuevo dataset concatenados

tdata = pd.read_csv('dataset_concatenados.csv', low_memory=False)

# Ver las primeras filas del archivo
tdata.head()

,id,destination,route,alternate_route,departure_time,arrival_time,current_time,traffic_streets,distance_to_next_stop,time_estimate,...,incident_type,incident_description,deviation,fecha,medio_transporte,linea,pasajeros,tiempo_espera_min,puntualidad,incidencias
0,1.0,Puerta del Sol,Linea 3,Linea 9,19:49,20:00,19:58,Paseo del Prado,2.12,55.0,...,accidente,Tráfico denso,sí,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Plaza Castilla,Linea 9,Linea 7,02:23,02:36,02:50,Calle Atocha,2.44,21.0,...,avería,Retraso por obras,sí,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Puerta del Sol,Linea 4,Linea 2,18:58,19:31,19:11,Calle de Bravo Murillo,0.60,29.0,...,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Retiro,Linea 1,Linea 8,13:40,14:00,13:43,Calle de Guzmán el Bueno,4.56,29.0,...,NaN,NaN,sí,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Retiro,Linea 2,Linea 5,05:58,06:19,06:13,Calle Alcalá,3.57,48.0,...,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Descripción estadística de las columnas numéricas
tdata.describe()

,id,distance_to_next_stop,time_estimate,traffic_delay,alternate_route_time_estimate,route_efficiency,pasajeros,tiempo_espera_min
count,100000.000000,100000.000000,100000.00000,100000.000000,49886.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,2.553421,35.01331,5.012110,45.020507,0.850465,774.776810,14.982490
std,28867.657797,1.411918,14.74023,5.163078,15.100264,0.086608,418.691983,8.352644
min,1.000000,0.100000,10.00000,0.000000,15.000000,0.700000,50.000000,1.000000
25%,25000.750000,1.340000,22.00000,0.000000,32.000000,0.780000,411.000000,8.000000
50%,50000.500000,2.550000,35.00000,4.000000,45.000000,0.850000,776.000000,15.000000
75%,75000.250000,3.780000,48.00000,10.000000,58.000000,0.930000,1139.000000,22.000000
max,100000.000000,5.000000,60.00000,15.000000,75.000000,1.000000,1499.000000,29.000000

In [8]:
# Recuento de valores nulos
tdata.isnull().sum()

id                               100000
destination                      100000
route                            100000
alternate_route                  100000
departure_time                   100000
arrival_time                     100000
current_time                     100000
traffic_streets                  100000
distance_to_next_stop            100000
time_estimate                    100000
day_of_week                      100000
time_of_day                      100000
traffic_status                   100000
traffic_delay                    100000
vehicle_type                     100000
alternate_route_available        100000
alternate_route_time_estimate    150114
route_efficiency                 100000
incident_occurred                100000
incident_type                    149914
incident_description             149914
deviation                        100000
fecha                            100000
medio_transporte                 100000
linea                            100000
pasajeros                        100000
tiempo_espera_min                100000
puntualidad                      100000
incidencias                      100000
dtype: int64